@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;

  width: 100%;
  height: 100%;
}

#root {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Lexend Deca', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  @apply text-white;
}

.place-item {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  /* Adjust transition properties as desired */
  list-style: none;
}

.place-item-enter {
  opacity: 1;
}

[data-tooltip]::after {
  display: block;
  position: absolute;
  content: attr(data-tooltip);
  border: 1px solid black;
  padding: .25em;
  scale: 0;
  white-space: pre-line;
  @apply transition-all origin-top-right duration-300 delay-200 bg-gray-500 text-white border border-black rounded-md w-[30rem] right-6 top-[8rem] break-words;
}

[data-tooltip]:hover::after {
  scale: 1;
  z-index: 1000;
}

.infoBox {
  background: linear-gradient(rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3));
  @apply font-normal m-2 p-3 rounded-2xl text-white;
}

.infoBox hr {
  @apply my-2 bg-gray-200 h-[1px] border-none opacity-50;
}

.infoValue {
  @apply flex justify-between items-center font-light;
}

.infoValue> :nth-child(2) {
  @apply font-medium text-lg;
}